.cards-place{
    // width: 80px;
    // height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.place-container{
    // width: 960px !important;
    width: 960px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center !important;
}
.card-first{
    display: flex;
    align-items: center;
}