

.container{
    width: 80%;
    p{
        font-style: italic;
        font-size: 48px;
    }
    .img{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

}

.contact{
    font-family: $latoFont;
    font-size: 14px;
    color: $color;
    box-sizing: border-box;
    
}